{# templates/base/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Digital Media Collector - Home{% endblock %}

{% block content %}
<!-- start templates/base/index.html.twig  block content -->
<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Dashboard</h5>
    </div>
    <div class="card-body">
        <!-- Pouze specifický obsah dashboardu -->
        {# Pouze specifický obsah dashboardu #}
        {# ... #}
    </div>
</div>
{% endblock %}

{% block sidebar %}
<!-- Obsah pravého postranního panelu pouze pro domovskou stránku block sidebar -->
{# Obsah pravého postranního panelu pouze pro domovskou stránku #}
{# ... #}

{% endblock %}